<% provide(:title, '新規登録') %>
<div class="right">
    <div class="right_top">
        <p>自分の本棚</p>
    </div>
    <div>
      <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
  
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
  
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
  
        <%= f.submit "ログイン", class: "btn btn-primary" %>
      <% end %>
  
      <p>New user? <%= link_to "新規登録", signup_path %></p>
    </div>
</div>