<% provide(:title, 'ログイン') %>
<div class="right">
    <div class="right_top">
        <p>マイページ</p>
    </div>
    <div class="form">
      <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
  
        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email, class: 'form-control' %>
  
        <%= f.label :password, "パスワード" %>
        <%= f.password_field :password, class: 'form-control' %>
  
        <%= f.submit "ログイン", class: "btn btn-primary" %>
      <% end %>
  
      <p>登録がまだの方はこちら→ <%= link_to "新規登録", signup_path %></p>
    </div>
</div>